.car .image-container img{
	max-width: 300px;
	max-height: 300px;
}
.car .image-container{
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu{
	width: 200px;
	background: pink;
}

.gallery{
	width: 1200px;
	background: green;
	display: flex;
	flex-wrap: wrap;
}
.parent{
	display: flex;
}
.header{
	text-align: center;
	font-size: 40px;
}

.button{
	border: 1px red solid;
    white-space: nowrap;
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    background: #7ef4ef;
	box-shadow: 5px 2px 5px rgb(0 250 0 / 50%);
}
.gallery .car{
	border: 10px #ffc solid;
	margin: 10px;
    border-radius: 30px;
}
.car:hover,
.car:hover .name,
.car:hover .actions{
	border-color: #0cf;
	border-style: dotted;
}
.car .name{
	border: 0;
	border-bottom: 10px #ffc solid;    
    padding: 10px;
    font-size: 40px;
}

.car .actions{
	display: flex;
	border: 0;
	border-top: 10px #ffc solid;
	justify-content: space-between;
    /* padding: 10px; */
	padding: 0px;
}

.header::before{
	content: 'x';
	background: red;
}

.car .actions .button{
	flex: 1;
	margin: 0;
	border-radius: 0;
}
.car .actions .button:hover{
	background: #7e00ef;
}
.car .actions .button:first-child{
	border-bottom-left-radius: 20px;
}
.car .actions .button:last-child{
	border-bottom-right-radius: 20px;
}

.statistic{
	background: blue;
	height: 600px;
}

.feedback{
	background: #00ccaa;
	height: 600px;
}

:target{
	background: red;
}


